scikit-learn
ipykernel
pandas
numpy
streamlit
nltk
datasets
ragas
langchain
langchain-core
langchain-community
langchain-groq
chromadb
xgboost
matplotlib
seaborn
sentence_transformers
langchain_chroma
langchain_huggingface
langchain_qdrant
langchain_classic

